/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

.math span {
    font-size: 21px;
}

li code {
    font-size: 18px;
}

.post-content h2:before {
    content: "# ";
    font-weight: bold;
    color: #DDD;
}
.post-content h3:before {
    content: "## ";
    font-weight: bold;
    color: #DDD;
}
.post-content h4:before {
    content: "### ";
    font-weight: bold;
    color: #DDD;
}
.post-content h5:before {
    content: "#### ";
    font-weight: bold;
    color: #DDD;
}
.post-content h6:before {
    content: "##### ";
    font-weight: bold;
    color: #DDD;
}